html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  font-family: $font-family-sans-serif;
  background-color: bg-color($primary-color, 80%);
  color: $secondary-color;
}
