html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  font-family: $brand-family-font;
  line-height: 1.6;
  background-color: bg-color($primary-color, 80%);
  color: $secondary-color;
}

.nav__header {
  position: relative;
  width: 100%;
  @include flex;

  &:before {
    content: "";
    background-image: url("../images/photo-band4.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }
}

.brand-font {
  color: $band-color;
  @include text-shadow;
  font-size: 1.5rem;
}

.navbar-toggler {
  background-color: $band-color;
}

.nav-item {
  font-size: 1.1rem;
}

.active {
  border-bottom: 5px solid $band-color;
}

/* HERO */
.hero {
  @include flex;
  flex-grow: 1;
  @media (min-width: 768px) {
    @include grid;
  }
}

.hero__img {
  z-index: -100;
  width: 100%;
  margin-top: -65%;
  opacity: 0.7;
  @media (min-width: 768px) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    margin-top: -25%;
    opacity: 1;
  }
}

.title {
  @include flex;
  font-size: 3rem;
  text-align: center;
  @media (min-width: 768px) {
    @supports (display: grid) {
      width: 100%;
      @include grid;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      font-size: 6rem;
      @media (min-width: 1024px) {
        font-size: 9rem;
      }

      &__one {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
        align-self: end;
      }

      &__two {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: center;
      }

      &__three {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        align-self: start;
      }
    }
  }
}

@supports not (display: grid) {
  /* HERO */
  .hero {
    @include flex;
  }

  .hero__img {
    z-index: -100;
    margin-top: -30%;
    width: 100%;
  }

  .title {
    position: absolute;
    color: rgb(20, 11, 11);
    font-size: 5rem;
  }

  .title__one {
    position: relative;
    top: 0.625rem;
    left: 15rem;
  }

  .title__two {
    position: relative;
    top: 4.375rem;
    left: 17.5rem;
  }

  .title__three {
    position: relative;
    top: 9.375rem;
    left: 17rem;
  }
}

.footer {
  margin-left: 2.5rem;
  margin-top: 2rem;

  @media (min-width: 768px) {
    .nav-bottom {
      @include flex;
      flex-direction: row;
      justify-content: center;
    }
    .navbar-nav {
      @include flex;
    }
  }

  @media (min-width: 1024px) {
    .nav-bottom {
      width: 100%;
      @include flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
    }
  }
}

.nav-bottom {
  justify-content: center;
}

.social-links {
  @include flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 2rem;
}
