.band-title {
  margin: 2rem;
  text-align: center;
  @include text-shadow;
  color: $band-color;
}

.card {
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .band-section {
    @supports (display: grid) {
      @include grid;
    }
    @supports not (display: grid) {
      .band-section {
        @include flex;
        flex-direction: row;
      }
    }
  }
}
