.band__title {
  margin: 2rem;
  font-size: 5rem;
  text-align: center;
  @include text-shadow;
  color: $band-color;
}

.band__heading {
  text-align: center;
}

.band__section {
  @include flex;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  width: 70%;
  margin: 1rem auto;
  @media (min-width: 768px) {
    width: 45%;
    .card-text {
      padding: 2rem;
    }
  }
}
