@mixin flex {
  display: flex;
  flex-direction: column;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: stretch;
}

@mixin card {
  width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  background-color: bg-color($secondary-color, 90%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
  }
}
